In [1]:
import pandas as pd
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv('../data/spambase.csv', header=None)

In [3]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
count,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,...,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000
mean,0.104553,0.213015,0.280656,0.065425,0.312223,0.095901,0.114208,0.105295,0.090067,0.239413,...,0.038575,0.139030,0.016976,0.269071,0.075811,0.044238,5.191515,52.172789,283.289285,0.394045
std,0.305358,1.290575,0.504143,1.395151,0.672513,0.273824,0.391441,0.401071,0.278616,0.644755,...,0.243471,0.270355,0.109394,0.815672,0.245882,0.429342,31.729449,194.891310,606.347851,0.488698
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.588000,6.000000,35.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.065000,0.000000,0.000000,0.000000,0.000000,2.276000,15.000000,95.000000,0.000000
75%,0.000000,0.000000,0.420000,0.000000,0.380000,0.000000,0.000000,0.000000,0.000000,0.160000,...,0.000000,0.188000,0.000000,0.315000,0.052000,0.000000,3.706000,43.000000,266.000000,1.000000
max,4.540000,14.280000,5.100000,42.810000,10.000000,5.880000,7.270000,11.110000,5.260000,18.180000,...,4.385000,9.752000,4.081000,32.478000,6.003000,19.829000,1102.500000,9989.000000,15841.000000,1.000000

In [4]:
n = StandardScaler()

In [5]:
df_norm = pd.DataFrame(n.fit_transform(df))

/home/chschrec/.local/share/virtualenvs/interpret-R0ok2QRq/lib/python3.6/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/home/chschrec/.local/share/virtualenvs/interpret-R0ok2QRq/lib/python3.6/site-packages/sklearn/base.py:464: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [6]:
X = n.fit_transform(df.iloc[:,:57])

/home/chschrec/.local/share/virtualenvs/interpret-R0ok2QRq/lib/python3.6/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/home/chschrec/.local/share/virtualenvs/interpret-R0ok2QRq/lib/python3.6/site-packages/sklearn/base.py:464: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [7]:
y = df.iloc[:,57:].as_matrix()

/home/chschrec/.local/share/virtualenvs/interpret-R0ok2QRq/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [8]:
df_norm.describe()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
count,4.601000e+03,4.601000e+03,4.601000e+03,4601.000000,4.601000e+03,4.601000e+03,4.601000e+03,4601.000000,4.601000e+03,4.601000e+03,...,4.601000e+03,4.601000e+03,4.601000e+03,4.601000e+03,4601.000000,4.601000e+03,4.601000e+03,4.601000e+03,4.601000e+03,4.601000e+03
mean,1.853187e-17,2.779780e-17,2.470916e-17,0.000000,4.941832e-17,3.706374e-17,-2.470916e-17,0.000000,2.470916e-17,1.235458e-17,...,1.235458e-17,-8.030476e-17,-2.470916e-17,1.235458e-17,0.000000,-9.265934e-18,1.853187e-17,1.235458e-17,2.470916e-17,-4.941832e-17
std,1.000109e+00,1.000109e+00,1.000109e+00,1.000109,1.000109e+00,1.000109e+00,1.000109e+00,1.000109,1.000109e+00,1.000109e+00,...,1.000109e+00,1.000109e+00,1.000109e+00,1.000109e+00,1.000109,1.000109e+00,1.000109e+00,1.000109e+00,1.000109e+00,1.000109e+00
min,-3.424337e-01,-1.650719e-01,-5.567606e-01,-0.046900,-4.643144e-01,-3.502662e-01,-2.917939e-01,-0.262562,-3.233024e-01,-3.713644e-01,...,-1.584534e-01,-5.143065e-01,-1.551977e-01,-3.299123e-01,-0.308355,-1.030484e-01,-1.321161e-01,-2.625994e-01,-4.656073e-01,-8.064037e-01
25%,-3.424337e-01,-1.650719e-01,-5.567606e-01,-0.046900,-4.643144e-01,-3.502662e-01,-2.917939e-01,-0.262562,-3.233024e-01,-3.713644e-01,...,-1.584534e-01,-5.143065e-01,-1.551977e-01,-3.299123e-01,-0.308355,-1.030484e-01,-1.135824e-01,-2.369413e-01,-4.095278e-01,-8.064037e-01
50%,-3.424337e-01,-1.650719e-01,-5.567606e-01,-0.046900,-4.643144e-01,-3.502662e-01,-2.917939e-01,-0.262562,-3.233024e-01,-3.713644e-01,...,-1.584534e-01,-2.738561e-01,-1.551977e-01,-3.299123e-01,-0.308355,-1.030484e-01,-9.189671e-02,-1.907567e-01,-3.105639e-01,-8.064037e-01
75%,-3.424337e-01,-1.650719e-01,2.764271e-01,-0.046900,1.007920e-01,-3.502662e-01,-2.917939e-01,-0.262562,-3.233024e-01,-1.231813e-01,...,-1.584534e-01,1.811501e-01,-1.551977e-01,5.631450e-02,-0.096848,-1.030484e-01,-4.682327e-02,-4.707129e-02,-2.851691e-02,1.240074e+00
max,1.452700e+01,1.090096e+01,9.560519e+00,30.641278,1.440691e+01,2.112571e+01,1.828261e+01,27.441249,1.855779e+01,2.782844e+01,...,1.785384e+01,3.556066e+01,3.715432e+01,3.949191e+01,24.108447,4.608659e+01,3.458704e+01,5.099205e+01,2.566085e+01,1.240074e+00

In [9]:
import tensorflow as tf
import numpy as np
from sklearn.datasets import make_classification
import keras 
import keras.backend as K
import innvestigate
from keras.models import Model
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder

Using TensorFlow backend.

In [10]:
X.shape[0]

4601

In [11]:
TRAIN_SPLIT = 0.8
TOTAL_DATA = X.shape[0]
DATA_SPLIT = int(TRAIN_SPLIT * TOTAL_DATA)


X_train = X[:DATA_SPLIT]
X_test = X[DATA_SPLIT:]

ohe = OneHotEncoder()
ohe = ohe.fit(y.reshape(-1,1))
y_bin = ohe.transform(y.reshape(-1,1))


y_train = y_bin.todense()[:DATA_SPLIT]
y_test = y_bin.todense()[DATA_SPLIT:]

/home/chschrec/.local/share/virtualenvs/interpret-R0ok2QRq/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [12]:
model = keras.Sequential(layers=[
    #keras.layers.Dropout(rate=0.25, input_shape=(57,), seed=0),
    keras.layers.Dense(units=32, activation=keras.activations.relu),
    keras.layers.Dense(units=16, activation=keras.activations.relu),
    keras.layers.Dense(units=2, activation=keras.activations.softmax)
])

In [13]:
model.compile(optimizer='Adam',
              loss=keras.losses.categorical_crossentropy,
              metrics=[keras.metrics.categorical_accuracy])

WARNING:tensorflow:From /home/chschrec/.local/share/virtualenvs/interpret-R0ok2QRq/lib/python3.6/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [14]:
np.random.seed(0)
eps = (1/57)/10
eps=0

for ep in range(300):
    if ep >= 10:
        if ep % 10 == 0:
            new_model = innvestigate.utils.model_wo_softmax(model)
            dt_analysis = innvestigate.analyzer.DeepTaylor(new_model, neuron_selection_mode='index')
            res_n0 = dt_analysis.analyze(X_train, 0)
            res_n1 = dt_analysis.analyze(X_train, 1)
            res_comb = res_n0 + res_n1
            summed_res = np.sum(res_comb, axis=0)
            norm_summed_res = summed_res/np.sum(summed_res)
            mask = norm_summed_res > np.random.random(57)/57
        X_masked = X_train * [1 if x else 0 for x in (norm_summed_res > np.random.random(57)*np.max(norm_summed_res))]
        model.fit(X_masked, y_train, epochs=1, batch_size=128, verbose=0)
    else:
        model.fit(X_train, y_train, epochs=1, batch_size=128, verbose=0)
        
        
    print(ep)

WARNING:tensorflow:From /home/chschrec/.local/share/virtualenvs/interpret-R0ok2QRq/lib/python3.6/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299

In [15]:
model.evaluate(X_test, y_test)

921/921 [==============================] - 0s 498us/step

[0.33053134484914304, 0.9261672095548317]

In [16]:
np.random.seed(0)
X_test_masked = X_test * [1 if np.random.rand() < 1 - 0.25 else 0 for _ in range(57)]

model.evaluate(X_test_masked, y_test)

921/921 [==============================] - 0s 77us/step

[0.37234137143361323, 0.8610206297502715]

In [17]:
scores = list()
for i in range(20):
    np.random.seed(i)
    X_test_masked = X_test * [1 if np.random.rand() < 1 - 0.25 else 0 for _ in range(57)]

    scores.append(model.evaluate(X_test_masked, y_test)[1])

921/921 [==============================] - 0s 78us/step
921/921 [==============================] - 0s 82us/step
921/921 [==============================] - 0s 84us/step
921/921 [==============================] - 0s 98us/step
921/921 [==============================] - 0s 86us/step
921/921 [==============================] - 0s 86us/step
921/921 [==============================] - 0s 80us/step
921/921 [==============================] - 0s 87us/step
921/921 [==============================] - 0s 90us/step
921/921 [==============================] - 0s 98us/step
921/921 [==============================] - 0s 84us/step
921/921 [==============================] - 0s 85us/step
921/921 [==============================] - 0s 96us/step
921/921 [==============================] - 0s 88us/step
921/921 [==============================] - 0s 79us/step
921/921 [==============================] - 0s 85us/step
921/921 [==============================] - 0s 86us/step
921/921 [==============================] - 0s 87us/step
921/921 [==============================] - 0s 94us/step
921/921 [==============================] - 0s 95us/step

In [18]:
np.mean(scores)

0.8840933768096887

In [37]:
count = 0
for i in range(100000):
    if np.random.rand() <0.3:
        count +=1

In [38]:
count

30080